<div id="PeopleContainer" class="people-container">
    <div id="PeopleButton" class="select-button">OLDSKOOL</div>
    <div id="PeopleButtonBackbone" class="select-button">BACKBONE</div>
    <div id="PeopleListContainer" class="people-list-container">
        <ul id="PeopleList"></ul>
        <div id="PeopleListBackbone"></div>
    </div>
</div>

<!-- Backbone rendering template-->
<script type="text/template" id="PeopleTemplate">
    <div><%= Name %></div>
</script>

